body {
    background: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 100px;
    height: 100px;
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    background: #61dafb;
    border-radius: 50%;
    position: absolute;
    top: 42px;
    left: 42px;
}

.ellipse {
    position: absolute;
    width: 100px;
    height: 40px;
    border: 4px solid #61dafb;
    border-radius: 50%;
    top: 30px;
    box-sizing: border-box;
}

.e1 {
    transform: rotate(0deg);
}

.e2 {
    transform: rotate(60deg);
}

.e3 {
    transform: rotate(-60deg);
}


.logo-mickey {
    width: 100px;
    height: 100px;
    position: relative;
}

.logo-mickey .head {
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo-mickey .ear {
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 10px; 
}

.logo-mickey .left {
    left: 5px;
}

.logo-mickey .right {
    right: 5px;
}